.cell {
  display: block;

  width: 45px;
  padding: 16px 20px;

  cursor: pointer;

  border: none;
  outline: 1px dashed black;
  background-color: #fff;

  &:hover {
    background-color: navajowhite;
  }
}
