@import "styles/variables.scss";

.cell {
  display: block;

  box-sizing: content-box;
  max-height: $cellSize;
  padding: 0;
  padding: 5px;

  cursor: pointer;

  border: none;
  outline: none;
  background-color: white;

  &:hover {
    background-color: navajowhite;
  }

  &:first-child {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 10px;
  }
}

.icon {
  width: $cellSize;
  height: $cellSize;
}
