.startPane {
  width: 100%;
  max-width: 520px;
  max-height: 320px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;

  text-align: center;

  outline: 1px solid rgba(255,255,255,0.8);
  background-color: rgba(255,255,255,0.5);
}

.title {
  font-size: 32px;
}

.start {
  font-size: 24px;

  display: inline-block;

  margin-top: 60px;
  padding: 10px 55px;

  cursor: pointer;
  transition: all 0.3s;

  border: none;
  border: 5px solid white;
  background-color: rgba(255,255,255,0.8);

  &:hover {
    color: white;
    background-color: rgba(126, 87, 194, 0.7);
  }
}
